.menu-navbar__logo{
display: flex;
justify-content: right;    
color: white;
margin-right: 50px;
}

.menu-navbar__img{
    width: 38px;
    margin-top: 20px;
    margin-right: 0px;
    filter: invert(100%);
}